@{
    ViewData["Title"] = "Home Page";
}
<div ng-app="app" class="row" ng-cloak>
    <div ui-view name="nav"></div>
    <div ui-view name="content"></div>
</div>

@section scripts
{
<script src="~/build/app.js"></script>
}

@section styles
{
<link href="~/build/app.css" rel="stylesheet" />
}