@{
    ViewData["Title"] = "Home Page";
}
<div ng-app="app" class="row" ng-cloak>
    <div ui-view name="nav"></div>
    <div ui-view name="content"></div>
</div>

@section scripts
{
    <script src="~/lib/three.min.js" ></script>
    <script src="~/build/app_threejs.js"></script>
}

@section styles
{
    <link href="~/build/app_threejs.css" rel="stylesheet" />
}