﻿@using (Html.BeginForm("Upload", "Photo", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="form-horizontal">
        <legend>Upload image to controller action</legend>

        <div class="form-group">
            <label class="control-label col-md-2" for="Photo">Image</label>
            <div class="col-md-10">
                <input type="file" name="photo" />
            </div>
        </div>

        <div class="form-group">
            &nbsp;
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Upload" class="btn btn-success" />
            </div>

        </div>
    </fieldset>
}

@using (Html.BeginForm("UploadToAzure", "Photo", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="form-horizontal">
        <legend>Upload image to Azure Blob Storage</legend>

        <div class="form-group">
            <label class="control-label col-md-2" for="Photo">Imgae</label>
            <div class="col-md-10">
                <input type="file" name="photo" />
            </div>
        </div>

        <div class="form-group">
            &nbsp;
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Upload" class="btn btn-success" />
            </div>

        </div>
    </fieldset>
}