﻿<div class="container">
    <h1>BASE APP</h1>

    <div class="well">
        <div class="btn btn-success" onclick="window.location.href = '/Unity/Supernova'">Check out the supernova minigame</div>
        <div class="btn btn-success" onclick="window.location.href = '/Unity/Exhibition'">Check out the exhibition demo</div>
    </div>
</div>