﻿<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-controller="Home" asp-action="Index" class="navbar-brand">Learning App</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#/">Base</a>
                </li>
                <li>
                    <a href="#/home">Home</a>
                </li>
                <li>
                    <a href="#/photo">Photo</a>
                </li>
                <li>
                    <a href="/photo/index">Photo static</a>
                </li>
            </ul>
        </div>
    </div>
</div>