﻿<!doctype html>
<html lang="">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - WebApplication</title>

        <environment names="Development">
            <link href="@Url.Content("~/lib/bootstrap.css")" rel="stylesheet" />
            <link rel="stylesheet" href="@Url.Content("~/css/site.css")" />
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/bootstrap/3.0.0/css/bootstrap.min.css"
                  asp-fallback-href="@Url.Content("~/lib/bootstrap.css")"
                  asp-fallback-test-class="hidden" asp-fallback-test-property="visibility" asp-fallback-test-value="hidden" />
            <link rel="stylesheet" 
                  href="//ajax.aspnetcdn.com/ajax/bootstrap-touch-carousel/0.8.0/css/bootstrap-touch-carousel.css"
                  asp-fallback-href="@Url.Content("~/lib/bootstrap-touch-carousel.css")"
                  asp-fallback-test-class="carousel-caption" asp-fallback-test-property="display" asp-fallback-test-value="none" />
            <link rel="stylesheet" href="@Url.Content("~/css/site.css")" asp-file-version="true" />
        </environment>

        @RenderSection("styles", required: false)
    </head>
    <body>
        @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-controller="Home" asp-action="Index" class="navbar-brand">WebApplication</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-controller="Home" asp-action="About">About</a></li>
                        <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
                    </ul>
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </div>*@
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; 2015 - WebApplication</p>
            </footer>
        </div>

        <environment names="Development">
            <script src="@Url.Content("~/lib/jquery.js")"></script>
            <script src="@Url.Content("~/lib/bootstrap.js")"></script>
            <script src="@Url.Content("~/lib/hammer.js")"></script>
            <script src="@Url.Content("~/lib/bootstrap-touch-carousel.js")"></script>
            <script src="@Url.Content("~/js/site.js")"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                    asp-fallback-src="@Url.Content("~/lib/jquery.js")"
                    asp-fallback-test="window.jQuery">
            </script>
            <script src="//ajax.aspnetcdn.com/ajax/bootstrap/3.0.0/bootstrap.min.js"
                    asp-fallback-src="@Url.Content("~/lib/bootstrap.js")"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
            </script>
            <script src="//ajax.aspnetcdn.com/ajax/hammer.js/2.0.4/hammer.min.js"
                    asp-fallback-src="@Url.Content("~/lib/hammer.js")"
                    asp-fallback-test="window.Hammer">
            </script>
            <script src="//ajax.aspnetcdn.com/ajax/bootstrap-touch-carousel/0.8.0/js/bootstrap-touch-carousel.js"
                    asp-fallback-src="@Url.Content("~/lib/bootstrap-touch-carousel.js")" 
                    asp-fallback-test="window.Hammer && window.Hammer.Instance">
            </script>
            <script src="@Url.Content("~/js/site.js")" asp-file-version="true"></script>
        </environment>

        @RenderSection("scripts", required: false)
    </body>
</html>
